.w3-top {
    background: rgba(0,0,0,0.7);
    font-family: Bahnschrift;
    font-size: 20px;
    
}
.w3-top b{
    font-size: 21px;
}

/*success*/
body {
    font-family: Bahnschrift;
    background-color: #222;
    box-sizing: border-box;
}
.img{
    align-items: center; 
}
h2{
    text-align: center;
    margin:0 0 0 26px;
    font-weight:bold;
}

section {
    position: relative;
    top: 70px;
}

.container {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    padding: 40px;
    box-shadow: 0px 0px 20px #00000010;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
    align-items: center; 
}

.form-control{
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 30px;
}
.form select{
    border: 2px solid rgb(31, 30, 30);
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 26px;
}
.form-control label{
    color:black;
    display: block;
    margin-bottom: 5px;
    font-size: 26px;
}
.form-control input{
    border: 2px solid rgb(31, 30, 30);
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 26px;
}




/*เเต่ง form เวลาขึ้น error*/
.form-control.error input{
    border-color: red;
}
.form-control small{
    color: red;
    position: absolute;
    bottom:0;
    left:0;
    visibility: hidden;
}
.form-control.error small{
    visibility: visible;
}

/*Button*/
.form button{
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 26px;
    border-radius: 8px;
    color: white;
    background-color: #22A7D3;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    display: block;
}
.form button[type="submit"]:hover {
    background-color: #222;
}
/*button sucess*/
.button{
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 26px;
    border-radius: 8px;
    color: white;
    background-color: #22A7D3;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    display: block;
}

