<!DOCTYPE html>
<html>
<title>Ticket Concert</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="static/home.css">
<body>
    <!--Navbar ข้างบน-->

    <div class="w3-top">
        <!--เวลาเลื่อนลงแถบจะตามตลอด-->
        <div class="w3-bar w3-wide w3-padding">
            <a href="home" class="w3-bar-item w3-button w3-hover-none w3-text-white w3-hover-text-white"><b>Ticket</b>Concert</a>
            <!-- Float links to the right. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                <a href="home" class="w3-bar-item w3-button w3-hover-none w3-text-white w3-hover-text-blue">Home</a>
                <a href="search" class="w3-bar-item w3-button w3-hover-none w3-text-white w3-hover-text-blue">Search</a>
                <a href="contact" class="w3-bar-item w3-button w3-hover-none w3-text-white w3-hover-text-blue">Contact</a>
            </div>
        </div>
    </div>
    <!--Navbar ข้างบน-->

    <!--video background-->
    <video src="static/teaser.mp4" class="vid-bg" autoplay loop muted></video>
    <!--video background-->


    <div class="banner-text">
        <h2>Ticket <span>Concert</span></h2>
        <a href="buy"><button class="btn" style="vertical-align:middle"><span>BUY NOW</span></button></a>

    </div>
    <!--Navbar ข้างบน-->



</body>
</html>
