<!DOCTYPE html>
<html>
<head>
    <title>Ticket Concert</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="static/paymentbill.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
</head>
<body>
    <!--Navbar ข้างบน-->
    <section>
        <div class="w3-top">
            <!--เวลาเลื่อนลงแถบจะตามตลอด-->
            <div class="w3-bar w3-wide w3-padding">
                <a href="home" class="w3-bar-item w3-button w3-hover-none w3-text-white w3-hover-text-white"><b>Ticket</b>Concert</a>

                <div class="w3-right w3-hide-small">
                    <a href="home" class="w3-bar-item w3-button w3-hover-none w3-text-white w3-hover-text-blue">Home</a>
                    <a href="search" class="w3-bar-item w3-button w3-hover-none w3-text-white w3-hover-text-blue">Search</a>
                    <a href="contact" class="w3-bar-item w3-button w3-hover-none w3-text-white w3-hover-text-blue">Contact</a>
                </div>
            </div>
        </div>

        <!--choose file-->
        <h2 style="font-size:70px;">Payment</h2>
        <br>
        <div class="container">
            <div class="form-box">
                <h3>Bank xxxxx-xxxxx</h3>
                <br>

                <form id="form" class="form">

                    <div class="form-control">
                        <input type="file" id="file" class="form-control">
                        <small>error message</small>
                    </div>

                    <!--submit-->
                    <button type="submit">Payment</button>

                </form>
                

                
            </div>
        </div>
    </section>
    <script src="static/paymentbill.js"></script>
</body>
</html>

